/*  your css code here. If applicable */
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
.Container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 30px;
}
.Container>img{
    width: 90vw;
    height: 400px;
    object-fit: cover;
}
.Container>div>button{
    background-color: #ff0001;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
}
